{% extends "layout.html" %}
{% block body %}
<h3>HAKKIMDA</h3>
<hr>
As project manager and engineer I am filling my position as the driving force behind the success of every key IT project or program our organization seeks to accomplish. Day to day, we align projects with business goals, construct detailed work plans, manage teams, achieve milestones, and communicate the result across a stakeholder audience.
<br><br>
In addition to project management, I fill my position as an Information Technologies Engineer with hardware configuration, information, positioning, bidding and new market research / creation on an instituonal and end user basis.
<hr>
{% endblock body %}